.banner{
    display: flex;
  
    justify-content: center;
    align-items: center;
    padding-top: 125px;
}
.banner ul{
    padding: 0;
}
.banner li{
    padding: 0;
}
.banner section{
    
    width: 46vw;
}
 .banner picture{
    background-color: white;
    border-radius: 15px;
    width: 30vw;
    height: min-content;
}

.banner img{
    position: relative;
    left: 7px;
    top: 7px;
    
    width: 30vw;
    border-radius: 15px;
    filter: drop-shadow(3px 3px 5px rgba(128, 128, 128, 0.384));
}

.banner h6,.banner h3, .banner h1{
    font-family: 'Montserrat', sans-serif;
}
.banner h1{
    font-size: calc(20px + 1.25vw);
    
}
.banner h6{
    font-size: calc(7px + 0.5vw);
    text-transform: uppercase; 
    letter-spacing: 0.3vw; 
    font-weight:400 ;
   
    color: rgb(80, 80, 80);
}
.banner .menu{
    display: flex;
    width: 275px;
    justify-content: space-evenly;
    position: relative;
   right: 45px;
 
}
@media screen and (max-width:850px) {
    .banner{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .banner div{
        flex-direction: column;
        justify-content: center;
    }
    
}