.banner {
    display: flex;

    justify-content: center;
    align-items: center;
    padding: 140px 0 50px 0;
}
.banner img{
    padding: 0;
    width: 30vw; 
    background-size:cover;
    background-repeat: no-repeat;

}

.banner section {
   margin-right: 25px;
    width: 46vw;
}




.banner h6,
.banner h3,
.banner h1 {
    font-family: 'Montserrat', sans-serif;
}

.banner h1 {
    font-size: calc(20px + 1.25vw);

}
.resaltar{
    letter-spacing: 0.5vw;
    font-weight: 700;
}
.banner h6 {
    font-size: calc(7px + 0.5vw);
    text-transform: uppercase;
    letter-spacing: 0.3vw;
    font-weight: 400;

    color: rgb(80, 80, 80);
}


.banner strong {
    color: var(--RouseEspecial);
}

@media screen and (max-width:850px) {
    .banner {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .banner div {
        flex-direction: column;
        justify-content: center;
    }

}