 .portfolioS{
    
    display: grid;
    grid-template-columns: var(--vRectW) var(--vRectW) var(--vRectW);
    grid-auto-rows: var(--vRectH );
    justify-content: center;
    gap: 5vw;
    margin: 30px 0;
}



@media screen and (max-width:1020px) {
    .portfolioS{ 
        grid-template-columns: var(--vRectW) var(--vRectW);
    
    }

}
@media screen and (max-width:750px) {
    .portfolioS{ 
        grid-template-columns: var(--vRectW);
    
    }

}
