.lineaV::before {

  content: ' ';
  display: flex;
  position: relative;
  left: -7px;
  background-repeat: no-repeat;
  background-image: url("../img/icon/circulo-barHFW2.svg");
  background-size: 40px;
  background-position: 0px 35px;
  width: 65px;
  height: 100%;
  z-index: 2;

}
.lineaV {
  margin: 0px 16px 0 16px;
  width: 6px;
  background-size: 100px;
  background: rgb(180, 178, 178);
  height: 100%;
  padding: 0 0 20px 0 ;
}

.educacion,
.jobExp {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: min-content;
  align-items: center;
  row-gap: 20px;
  column-gap: 20px;
  padding: 40px;
}


.educacion>article,
.jobExp>article {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: max-content;
  align-items: center;
  column-gap: 10px;
 
}


.resume {
  justify-self: center;
  
  margin: 40px 0;
}
.educacion .fleX,
.jobExp .fleX
{
  justify-content: space-between;
}
.resume>.desplazarB,
.resume>h1,
.resume>h3{
  text-align: center;
  margin: 30px auto; 
}
.resume * ul li:hover a {
  color: var(--RouseEspecial) !important;
}

.resume section div.desplazar7 {

  padding: 0 20px 20px 20px;
  width: 32vw;
}

@media screen and (max-width:860px) {
  .resume section {
    margin: 0 40px;
    ;
  }

  .resume section h1 {
    padding-left: 15px;
  }

  .resume section div.desplazar7 {

    width: 60vw;
  }

  .resume> :nth-child(2).desplazarB {
    list-style: none;
    text-align: center;
    padding: 0 !important;
  }

  .resume>nav.desplazarB,
  .resume nav ul {
       height: max-content !important;
  }

  .resume ul a{
    width: calc(76vw) !important;
    
  }

  .resume>.fleX,.resume nav ul {
    flex-direction: column;
  }
}